# This .gitignore file is for a Python project using PyCharm.

# Python specific files
# --------------------
# Byte-compiled / optimized / "cross-platform" files
__pycache__/
*.py[cod]
*$py.class

# Temporary files created by PyCharm
*.iml

# Virtual environment files
# PyCharm creates a '.venv' folder by default
.venv/
env/
venv/
ENV/

# Distribution / packaging
.Python
build/
dist/
eggs/
*.egg-info/

# Logs and databases
*.log
*.sqlite
*.db

# Specific to this project
# -----------------------
# Temporary folder created by the advanced downloader script for merging files
temp_downloads/

# PyCharm specific files
# --------------------
# The .idea folder contains local IDE settings and should not be committed.
.idea/
